/* Navbar styling */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px 20px; */
  /* background: red;
  background-color: #007bff; */
  border-bottom: 1px solid #ddd;
}
.main-page{
  margin-top: 30px;
  padding-right: 50px;
  padding-left: 50px;
}

.container-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container {
  width: 100vw;
  /* width: 10px; */

  padding: 0;
  /* margin-left: -100px; */
  z-index: 1002;
  /* border: 1px solid red; */

}
.container-3{
  margin-top: 20px;
  margin-bottom: 20px;
}
.search-bar {
  display: flex;
  align-items: center;
  width: 100%;
  /* Makes the search bar stretch to fill the available width */
  max-width: 300px;
  /* Optional: limits the maximum width of the search bar */
}

.search-bar input {
  padding: 8px;
  margin-right: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  /* Takes up full width of the .search-bar container */
}

.search-bar button {
  padding: 8px 16px;
  border: none;
  background-color: #954caf;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.search-bar button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.api-recommendation-box {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  border-radius: 4px;
  text-align: center;
}
/* Grid layout for products */
.product-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  /* background-color: #fafafa; */
}

.product-card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
  background-color: #fff;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.product-grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* Menampilkan 5 produk per baris */
  gap: 20px;
  margin-bottom: 50px;
  /* Jarak antar produk */
}

.product-card-wrapper {
  display: flex;
  flex-direction: column;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #954caf;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 0 5px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background-color: #ebbfe7;
}

.pagination span {
  font-size: 16px;
  font-weight: bold;
  margin: 0 10px;
}

.pagination button:first-child {
  margin-left: 0;
}

.pagination button:last-child {
  margin-right: 0;
}
/* .scenario-title {
  grid-column: span 5;
  text-align: center;
  font-weight: bold;
} */

/* .scenario-title {
  margin-top: 20px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
} */


.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Container for maintaining a consistent height for images */
.product-card .image-container {
  width: 100%;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  margin-bottom: 10px;
}

.product-card img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: 100%;
  max-width: none;
  transform: translate(-50%, -50%);
  object-fit: contain;
}

/* Product name with line-clamping */
.product-card h3 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 3.6em;
  font-size: 1.1rem;
  margin: 10px 0 5px;
  color: #333;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 2;
}

/* Product description */
.product-card p {
  font-size: 0.9rem;
  color: #666;
  margin: 0;
}

/* Hapus garis bawah pada link */
.product-link {
  text-decoration: none;
  color: inherit;
}

/* Default styling for larger screens */
.product-name,
.product-brand,
.product-shade,
.product-price,
.product-stars {
  display: block;
}

/* Style for the form container */
.input-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
}

/* Style for individual form labels and inputs */
.input-form label {
  display: block;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-form input,
.input-form select {
  padding: 8px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  /* height: 50px; */
  box-sizing: border-box;
}
/*  */

/* Hover effect for inputs and select dropdowns */
.input-form select:hover,
.input-form input[type="text"]:hover,
.input-form input[type="number"]:hover {
  border-color: #007bff;
}

/* Focus effect for inputs and select dropdowns */
.input-form select:focus,
.input-form input[type="text"]:focus,
.input-form input[type="number"]:focus {
  border-color: #0056b3;
  outline: none;
}

/* Style for the buttons container */
.button-container {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-top: 20px;
}

.input-form button {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #954caf;
  color: white;
  width: 100%;
  align-items: center;
  justify-content: center;
}
/* Style for individual buttons */
.button-container button {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  width: 48%;
}

.button-container button:hover {
  background-color: #0056b3;
}

.button-container button:disabled {
  background-color: #d6d6d6;
  cursor: not-allowed;
}

/* Menghapus bold pada teks dropdown */
.custom-select__control {
  font-weight: normal;
  font-size: 15px;
  /* Untuk input utama */
}

.custom-select__option {
  font-weight: normal;
  /* Untuk opsi dalam dropdown */
}
/*  */
/* Container untuk tombol thumbs-up dan thumbs-down */
.thumbs-container {
  display: flex;
  justify-content: center;
  /* Untuk menempatkan tombol di tengah */
  gap: 15px;
  /* Memberikan jarak antar tombol */
  align-items: center;
  /* Untuk menyejajarkan tombol secara vertikal */
}

/* Tombol thumbs-up dan thumbs-down */
.thumbs-up-button,
.thumbs-down-button {
  font-size: 24px;
  padding: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.2s ease;
  /* Menambahkan efek transformasi */
}

/* Warna dan efek ketika tombol thumbs-up dan thumbs-down diklik */
.thumbs-up-button.clicked,
.thumbs-down-button.clicked {
  transform: scale(1.1);
  /* Efek scale saat tombol diklik */
}

/* Warna default untuk tombol thumbs-up dan thumbs-down */
.thumbs-up-button,
.thumbs-down-button {
  color: gray;
}

/* Warna tombol thumbs-up saat diklik */
.thumbs-up-button.clicked {
  color: #3a6d59;
  /* Hijau */
}

/* Warna tombol thumbs-down saat diklik */
.thumbs-down-button.clicked {
  color: #d9262f;
  /* Merah */
}

.api-section {
  margin-top: 10px;
  text-align: center;
  padding: 5px;
}

.api-section h4 {
  font-size: 14px;
  color: #777;
  font-weight: normal;
}

.navbar {
  background-color: #954caf;
  padding: 10px 20px;
  height: 80px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.scenario-title {
  background-color: #954caf;
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 80px;
  border-radius: 10px;
  display: flex;
  /* Mengaktifkan Flexbox */
  align-items: center;
  /* Vertikal: Tengah */
  justify-content: center;
  /* Horizontal: Tengah */
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Agar teks terlihat jelas */
  font-size: 16px;
  /* Ukuran teks */
  font-weight: bold;
  /* Teks tebal */
}
.navbar .navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color 0.3s ease;
}

.navbar .navbar-brand:hover {
  color: #e0e0e0;
}

.navbar-nav {
  display: flex;
  gap: 1rem;
  /* Jarak antar item */
}
.navbar .nav-link {
  font-size: 18px;
  font-weight: 500;
  color: white;
  transition: color 0.3s ease;
}

.navbar .nav-link:hover {
  color: #f1f1f1;
}

.navbar .navbar-toggler {
  border-color: #ffffff;
  background-color: #ffffff;
  position: relative;
  /* Pastikan posisi terdefinisi */
 
  /* Z-index tinggi untuk membawa elemen ke depan */
}

.navbar .navbar-toggler-icon {
  background-color: white;
}

.navbar .navbar-nav .nav-item {
  margin-right: 10px;
}

.navbar .navbar-nav .nav-item:last-child {
  margin-right: 0;
}

.navbar .btn-outline-danger {
  color: white;
  /* border-color: white; */
  background-color: #d9534f;
  font-weight: bold;
}
.navbar .collapse {
  background-color: #954caf;
  /* margin-left: -100px;
  margin-right: -100px;
  padding-bottom: 10px; */
}
.navbar .btn-outline-danger:hover {
  background-color: #ff000d;
  color: white;
  border-color: #ff000d;
}

/* Modal Background */
/* .modal-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
} */

/* Login Container */
.login-container {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  text-align: center;
}

/* Form Styling */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Input Field */
.login-input {
  /* padding: 12px; */
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 5px;
  outline: none;
  width: 100%;
  transition: border-color 0.3s ease;
}

.login-input:focus {
  border-color: #954caf;
  /* Green border when focused */
}

/* Buttons Container */
.buttons-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.login-input-2 select{
  margin-left: 0px;
}

/* Button Styling */
.login-button,
.back-button {
  padding: 12px;
  height: 50px;
  font-size: 16px;
  border: none;
  /* Border is removed */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex: 1;
  /* Makes both buttons take equal space */
}
.login-regis {
  display: flex;
  justify-content: space-between;
  /* Ensures space between buttons */
  gap: 10px;
  width: 100%;
  /* Adds a gap between buttons */
}
.login-button {
  background-color: #954caf;
  color: white;
  font-weight: bold;
}

.login-button:hover {
  background-color: #954caf;
}

.back-button {
  background-color: #f44336;
  color: white;
  font-weight: bold;
}

.back-button:hover {
  background-color: #e53935;
}

/* Toast Notification Styling */
.toast-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  width: auto;
}

.main-page-detail {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* Sejajarkan di bagian atas */
  gap: 20px;
  margin-top: 30px;
  padding-right: 50px;
  padding-left: 50px;
  /* Jarak antar div */
}

.main-page-detail button {
  padding: 10px 15px;
  /* Padding untuk tombol */
  background-color: #954caf;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.kiri_umum {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.kiri {
  width: 300px; /* Lebar kolom kiri */
  height: 350px;/* Tinggi kolom kiri */
  background-color: #fff; /* Warna latar belakang abu-abu */
  border-radius: 8px; /* Sudut membulat */
  display: flex; /* Untuk menata gambar di tengah */
  justify-content: center; /* Mengatur gambar di tengah */
  align-items: center; /* Mengatur gambar di tengah */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.kiri img {
  max-width: 100%; /* Gambar tidak melebihi lebar kolom */
  /* height: auto;  */
  max-height: 90%;/* Tinggi gambar menyesuaikan proporsi */
  border-radius: 8px; /* Sudut membulat gambar */
}

.kanan {
  flex: 1; /* Mengambil sisa ruang horizontal */
  background-color: #ffffff; /* Warna latar belakang abu-abu */
  padding: 20px; /* Padding untuk konten di dalam kolom */
  border-radius: 8px; /* Sudut membulat */
  display: flex; /* Untuk menata konten di dalam kolom */
  flex-direction: column; /* Menata konten secara vertikal */
  gap: 10px; /* Jarak antar elemen konten */
  height: 350px;
  justify-content: center;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: left;
    /* Teks rata kiri */
  align-content: center;
  
}

.kanan h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.kanan p {
  margin: 5px 0;
  font-size: 1rem;
  color: #555;
}

/* Style for the rate section */
.rate-section {
  background-color: #ffffff;
    /* Warna latar belakang abu-abu */
  padding: 10px;
  border-radius: 8px;
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); */
  display: flex;
  flex-direction: row;
  /* Tetap horizontal */
  align-items: center;
  /* Agar input dan button sejajar secara vertikal */
  gap: 10px;
  /* Jarak antar elemen */
  justify-content: center;
}

.rate-section input {
  width: auto;
  /* Biarkan input menyesuaikan ukuran */
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #ffffff;
    /* Warna latar belakang abu-abu */
  border-radius: 4px;
}

.rate-section button {
  padding: 10px 15px;
  /* Padding untuk tombol */
  background-color: #954caf;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.rate-section p {
  padding: 10px 15px;
  /* Padding untuk tombol */
  background-color: #954caf;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.rate-section button:hover {
  background-color: #954caf;
}
.recommendation-sec{
  margin-top: 50px;
}

.scenario-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* 4 kolom */
  /* gap: 1rem; */
  /* Jarak antar item */
  width: 100%;
  /* max-width: 800px; */
  /* Batas lebar untuk form */
}

.grid-item {
  display: flex;
  flex-direction: column;
  /* Label di atas select */
  align-items: flex-start;
  /* Label rata kiri */
  /* gap: 0.1rem; */
}

.grid-item label {
  font-weight: bold;
  font-size: 1rem;
}

.grid-item select {
  width: 80%;
  /* min-width: 100px; */
  /* Atur lebar maksimum yang lebih besar */
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.grid-item select:focus {
  outline: none;
  border-color: #954caf;
}
.result-container {
  margin-top: 20px;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}
.recommendation-sec-button {
  display: flex;
  justify-content: center;
  /* Pusatkan tombol secara horizontal */
  gap: 1rem;
  /* Jarak antara tombol */
  margin-top: 2rem;
  margin-bottom: 2rem;
  /* Tambahkan jarak ke atas jika diperlukan */
}

.recommendation-sec-button button {
  padding: 0.5rem 1rem;
  /* Ukuran tombol */
  font-size: 1rem;
  /* Ukuran teks */
  border: none;
  border-radius: 5px;
  /* Membuat sudut tombol melengkung */
  cursor: pointer;
  background-color: #954caf;
  /* Warna tombol */
  color: white;
  /* Warna teks */
  transition: background-color 0.3s ease;
  /* Animasi saat hover */
}

.recommendation-sec-button button:hover {
  background-color: #954caf;
  /* Warna saat tombol dihover */
}
.login-regis {
  display: flex;
  justify-content: space-between;
  /* Ensures space between buttons */
  gap: 10px;
  width: 100%;
  /* Adds a gap between buttons */
}

.login-button {
  background-color: #954caf;
  color: white;
  font-weight: bold;
}



/* Responsively adjust text and layout for smaller screens */
@media (max-width: 1000px) {
  .main-page {
      padding-right: 20px;
      padding-left: 20px;
    }
  .container-2 {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  .container-2 h2{
    font-size: 30px;
  }
  .product-grid {
    grid-template-columns: repeat(3, 1fr);

  }
  .product-grid-container {
      grid-template-columns: repeat(3, 1fr);
  }

  .product-card {
    padding: 12px;
  }

  .product-card img {
    max-width: 120px;
  }

  .product-price,
  .product-stars {
    display: none;
  }

  .product-name {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .product-brand,
  .product-shade {
    font-size: 14px;
    margin-bottom: 6px;
  }
      .navbar .navbar-nav {
        text-align: center;
    }

    .navbar .navbar-nav .nav-item {
        margin-right: 0;
        /* margin-bottom: 5px; */
    }
    

        .navbar .collapse {
          background-color: #954caf;
          margin-left: -100px;
          margin-right: -100px;
          padding-bottom: 10px;
        }
    .navbar .navbar-nav .nav-item:last-child {
        margin-bottom: 0;
    }
         .login-container {
           width: 90%;
           padding: 30px 20px;
         }
    
         .login-input {
           font-size: 14px;
         }
    
         .login-button,
         .back-button {
           font-size: 14px;
         }

        .main-page-detail {
          flex-direction: column;
          background-color: #fff;
          /* Ubah menjadi kolom */
          /* align-items: center; */
          /* Tengah sejajarkan elemen */
          /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
          /* Kurangi padding untuk tampilan kecil */
          padding-right: 20px;
          padding-left: 20px;
        }

        .main-page-detail button {
          padding: 10px 15px;
          /* Padding untuk tombol */
          background-color: #954caf;
          color: white;
          align-items: left;
          border: none;
          border-radius: 4px;
          cursor: pointer;
        }
        .kanan {
          order: 1;
          /* margin-left: -80px; */
          /* Posisikan pertama */
          background-color: transparent;
          width: 100%;
          /* Lebar penuh */
          height: auto;
              background-color: transparent;
                /* Hapus latar belakang putih */
                border-radius: 0;
                /* Hilangkan sudut membulat */
                overflow: hidden;
                /* Pastikan gambar tidak keluar dari kotak */
                box-shadow: none;
          /* Biarkan tinggi menyesuaikan */
        }

        .kiri_umum {
          order: 2;
          /* Posisikan kedua */
          width: 100%;
          /* Lebar penuh */
          align-items: center;
          /* Tengah sejajarkan */
        }
                .kiri {
                  width: 100%;
                  /* Lebar penuh saat responsif */
                  height: auto;
                  /* Biarkan tinggi menyesuaikan */
                  background-color: transparent;
                  /* Hapus latar belakang putih */
                  border-radius: 0;
                  /* Hilangkan sudut membulat */
                  overflow: hidden;
                  /* Pastikan gambar tidak keluar dari kotak */
                  box-shadow: none;
                  /* Hapus bayangan untuk tampilan responsif */
                }
        
                .kiri img {
                  width: 50%;
                  /* Gambar memenuhi seluruh lebar kotak */
                  height: auto;
                  /* Biarkan tinggi menyesuaikan secara proporsional */
                  object-fit: cover;
                  /* Memotong gambar agar sesuai dimensi */
                }

        .rate-section {
          order: 3;
          /* Posisikan ketiga */
          width: 100%;
          /* Lebar penuh */
          justify-content: center;
          /* Tengah sejajarkan */
        }
                .grid-container {
                  grid-template-columns: repeat(2, 1fr);
                  /* Ubah jadi 2 kolom */
                }
}